.table-responsive{
    overflow-x: auto;
}

.wrapper{
    margin-top: 5%;
    margin-right: 16%;
    margin-left: 11%;
    background-color: rgba(240, 248, 255, 0.582);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

table{
    table-layout: fixed;
}
th{
    height: 5vh;
    align-items: center;
    color: rgb(78, 76, 76);
    /* border-bottom: .2vw solid black; */
    /* background-color: #B6BBC4; */
}
.bottom{
    margin-top: 5%;
}
.btn{
    margin-right: 1vw;
}