/* .wrapper{
  border: none;
  outline: none;
  border-bottom: 0;
  box-shadow: 10px 10px 5px rgb(227, 228, 230);
} */

.wrapper {
  background-color: wheat;
  /* border-radius: 5px; */
  color: #333341;
  width: 100%;
  height: vh; 
  margin-right: 30px;
  border: none;
  overflow-y: auto;
  position: relative; /* Add position: relative for the shadow pseudo-element */
}

.wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20px; /* Adjust the width of the shadow as needed */
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1); /* Adjust the shadow properties as needed */
}

div {
  background-color: wheat;
  border-radius: 5px;
  color: #333341;
  width: 100%;
  height: 100%;
  margin-right: 30px;
}


/* h3 {
  color: #ffd700;
  margin-bottom: 15px;
} */

ul {
  list-style-type: none;
  padding: 0;
  margin: 3%;
}


li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.4em;
  font-weight: 300;
}

li:hover {
  background-color: #b6bbc46c;
  /* background-color: #eec06b; */
}
.span{
  width:40%
}
.head {
  color: #333341;
  text-decoration: none; /* Remove underline */
  /* padding-top: 3%; */
  padding-left: 2%;
  margin-bottom: 2%;
  background-color: #b6bbc46c;
  padding: 5%;
}

.head:hover {
  text-decoration: none; /* Remove underline on hover */
}