h2 {
  /* margin: 1rem; */
  /* padding: 3vh; */
  padding: 1.5%;
  padding-left: 2vw;
  font-size:2.5rem;
  /* border-radius: 5px; */
  font-family: 'PT Serif', serif;
  background-color: #333341;
  margin-bottom: 0;
  color: wheat;
}
.section {
  width: 60vww;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.sidemenu {
  width: 20%;
  height: 100%;
}
.main{
  width: 85%;
  height:100%;
  /* background-color: green; */
}