h2 {
  /* margin: 1rem; */
  padding: 3vh;
  /* border-radius: 5px; */
  background-color: #333341;
  color: wheat;
}
.section{
  width:60vww;
height: 60vh;
/* background-color: red; */
display: flex;
flex-direction: row;

}
.sidemenu{
  width: 15%;
  height: 100%;
  background-color: blue;
}
.main{
  width: 85%;
  height:100%;
  /* background-color: green; */
}